{% block contenido %}
<div class="container my-5">
    <h3 class="pb-3 border-bottom">{% if form.instance.pk %}Editar{% else %}Ingresar
        {% endif %} Descuento:</h3>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3 row">
            <label for="tarjeta" class="col-sm-2 col-form-label">Tarjeta</label>
            <div class="col-sm-10">
                {{ form.tarjeta }}
            </div>
        </div>
        <div class="mb-3 row">
            <label for="descripcion" class="col-sm-2 col-form-label">Descripción</label>
            <div class="col-sm-10">
                {{ form.descripcion }}
            </div>
        </div>
        <div class="mb-3 row">
            <label for="rubro" class="col-sm-2 col-form-label">Rubro</label>
            <div class="col-sm-10">
                {{ form.rubro }}
            </div>
        </div>
        <div class="mb-3 row">
            <label for="nombre_local" class="col-sm-2 col-form-label">Nombre del Local</label>
            <div class="col-sm-10">
                {{ form.nombre_local }}
            </div>
        </div>
        <div class="mb-3 row">
            <label for="web_local" class="col-sm-2 col-form-label">Web del Local</label>
            <div class="col-sm-10">
                {{ form.web_local }}
            </div>
        </div>
        <div class="mb-3 row">
            <label for="porcentaje" class="col-sm-2 col-form-label">Porcentaje</label>
            <div class="col-sm-10">
                {{ form.porcentaje }}
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a href="{% url 'tarjetas:descuentos_list' tarjeta_pk %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>
    </form>
    <div class="fs-3 pb-4">
        <a href="{% url 'tarjetas:tarjetas_list' %}" class="btn btn-secondary">Volver a Tarjetas</a>
    </div>
</div>
{% endblock %}
