{% block titulo %}
    Descuentos por Banco
{% endblock titulo %}
{% block contenido %}
    <div class="py-lg-4">
        <form action="{% url 'bancos:bancos_list' %}" method="get">
            <input type="text" name="consulta" placeholder="Buscar...">
        </form>
    </div>
    <ul>
        {% for banco in object_list %}
            <li>
                {{ banco.nombre }} - <a href="{{ banco.web }}" target="_blank">{{ banco.web }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="fs-3 pb-4">
        <a href="{% url 'bancos:home' %}">Volver a Bancos</a>
    </div>
{% endblock contenido %}


{% comment %} 

<a href="{% url 'producto:productocategoria_detail' producto.id %}">Detalle</a>
<a href="{% url 'producto:productocategoria_update' producto.id %}">Cambiar</a>
<a href="{% url 'producto:productocategoria_delete' producto.id %}">Borrar</a>

{% endcomment %}