{% block contenido %}
    <div class="container my-5">
        <h3 class="pb-3 border-bottom text-primary">Descuentos por Banco</h3>
        
        <div class="row">
            <div class="col-md-6 mb-4">
                <h5 class="text-secondary">Buscar Banco:</h5>
                <form action="{% url 'bancos:home' %}" method="get" class="mb-3">
                    <div class="input-group">
                        <input type="text" name="consulta" class="form-control" placeholder="Buscar...">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </form>
                
                <h5 class="text-secondary">Bancos Disponibles:</h5>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col">Banco</th>
                                <th scope="col">Web</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for banco in bancos %}
                                <tr>
                                    <td>{{ banco.nombre }}</td>
                                    <td><a href="{{ banco.web }}" target="_blank" class="text-decoration-none text-primary">{{ banco.web }}</a></td>
                                    <td>
                                        <a href="{% url 'bancos:bancos_detail' banco.pk %}" class="btn btn-info btn-sm">Detalle</a>
                                        <a href="{% url 'bancos:bancos_update' banco.pk %}" class="btn btn-info btn-sm">Cambiar</a>
                                        <a href="{% url 'bancos:bancos_delete' banco.pk %}" class="btn btn-info btn-sm">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="col-md-6 mb-4">
                <div class="d-grid gap-2 mb-3">
                    <a class="btn btn-success btn-lg"
                       href="{% url 'bancos:bancos_create' %}"
                       role="button">Falta un Banco? Ingresa Aquí</a>
                </div>
                
                <div class="d-grid gap-2">
                    <a class="btn btn-secondary btn-lg"
                       href="{% url 'core:home' %}"
                       role="button">Volver a Inicio</a>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}
